<header>
    <nav class="navbar shadow-sm">
      <div class="container">
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'robots:read' %} active {% endif %}"
              href="{% url 'robots:read' %}">
              Роботы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'customers:read' %} active {% endif %}"
              href="{% url 'customers:read' %}">
              Покупатели
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'orders:read' %} active {% endif %}"
              href="{% url 'orders:read' %}">
              Заказы
            </a>
          </li>
        </ul>
        {% endwith %}
      </div>
    </nav>
  </header>