{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}


{% comment %} <form action="{% url 'customers:list' %}" method="POST" enctype="multipart/form-data"> {% endcomment %}
{% comment %} <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form> {% endcomment %}
{% for message in messages %}
<div class="alert alert-secondary" role="alert">
  {{message}}
</div>
    {% endfor %}
<form role="form" method="POST" autocomplete="off">                   
    <div class='row mt-2'>
         {% csrf_token %}
         {% render_form serializer %}
     </div>
     <button class="btn btn-success btn-md float-end mt-2 mb-0 mx-2" type="submit">Save</button>
 
   </form>

{% endblock %}