{% extends "base.html" %}
{% load rest_framework %}
{% block content %}



<form action="{% url 'customers:detail' 0 %}" method="post">
<button type="submit" name="your_name" value="your_value" class="btn-link">Go</button>
</form>

  {% for customer in customers %}
  <div class="row">
    <div class="col-12"> 
        <div>
          <b>{{ customer.id }}</b>   {{ customer.email}} |
          <a href="{% url 'customers:detail' customer.id %}" >Изменить</a> 
        </div>
        <div>
    </div>
  </div>

      {% if not forloop.last %}
      <hr class="mt-3">
      {% endif %}
  </div>
  {% endfor %}


{% endblock %}