{% extends "base.html" %}
{% block title %}
  О сервисе
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 60rem;">
      <div class="card-header">
        О сервисе
      </div>
      <div class="card-body">
        <p>
            Сервис нацелен на удовлетворение потребностей трёх категорий пользователей:<br>
            - Технические специалисты компании<br>
            - Менеджмент компании<br>
            - Клиенты<br>
        </p>
        <p>
          В каждой вкладке реализованы функции: <br>
          - просмотр списка<br>
          - создание записи<br>
          - редактирование записи<br>
          - удаление записи<br>
          <br>
          При создании и изменении записи проиходит валидация данных по заложенной бизнес-логике.<br>
          Дополнительно реализован отчёт по созданным роботам: он доступен на вкладке "Роботы"<br>
        </p>
        <p>
          Клиент может оставить заказ на робота, которого ещё нет, и обязательно получит уведомление, когда робот появится.
        </p>
        <p>
          По всем вопросам обращаться <a href="http://github.com/belyashnikovatn" >в техподдержку</a>.
          Хорошего дня!  
        </p>
      </div>
    </div>
  </div>
{% endblock %}