{% extends "base.html" %}

{% block content %}

  {% for robot in robots %}
  <div class="row">
    <div class="col-12"> 
        <div>
          <b>{{ robot.id }}</b>   {{ robot.serial}}  {{ robot.model}}  {{robot.version }} | {{robot.created|date:"d M Y H:m:s" }}
          <a href="{% url 'robots:robot_detail' robot.id %}" >Изменить</a> 
          <a href="{% url 'robots:robot_delete' robot.id %}" >Удалить</a> 

        </div>
        <div>
          
        </div>
    </div>

      {% if not forloop.last %}
      <hr class="mt-3">
      {% endif %}
  </div>
  {% endfor %}
  
{% endblock %}