{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load rest_framework %}
{% block content %}

  <form action="{% url 'orders:create' %}" method="post" class="col-3">
    {% bootstrap_button button_type="submit" content="Создать заказ" %}
  </form>

  <hr>
  {% for order in orders %}
  <div class="row">
    <div class="col-8"> 
        <div>
          <b>{{ order.id }}</b>  Покупатель с почтой <b>{{ order.customer.email}}</b>  хочет получить робота <b> {{ order.robot_serial}} </b>
        </div>
    </div>
    <div class="col-4"> 
        <div>
          <a href="{% url 'orders:edit' order.id %}" >Изменить</a>
          <a href="{% url 'orders:delete' order.id %}" >Удалить</a>
        </div>
    </div>
    {% if not forloop.last %}
    <hr class="mt-3">
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}